<launch>
    <arg name="file_name" default="$(find ydlidar)/launch/x4.yml" />
  <node name="ydlidar_node"  pkg="ydlidar"  type="ydlidar_node" output="screen">
      <rosparam command="load" file="$(arg file_name)" />
  </node>
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser4"
    args="0.2245 0.0 0.2 0.0 0.0  0.0 /base_footprint /laser_frame 40" />
</launch>
